<html>

<head>
    <title>GIS Map</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="gis, sig">
    <meta name="author" content="DeniSetiawan">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Sistem Informasi Geografis Pemetaan Fasilitas dan Layanan Publik Berbasis Web Pada Kecamatan Manggelewa">
    <meta property="og:title"
        content="Sistem Informasi Geografis Pemetaan Fasilitas dan Layanan Publik Berbasis Web Pada Kecamatan Manggelewa">
    <meta property="og:description"
        content="Sistem Informasi Geografis Pemetaan Fasilitas dan Layanan Publik Berbasis Web Pada Kecamatan Manggelewa">
    <meta property="og:image" content="https://telegra.ph/file/05153448df2c81f607435.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="format-detection" content="telephone=no">
    <base href="/">
    <style>
        /* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
        #map {
            height: 100%;
        }

        /* 
 * Optional: Makes the sample page fill the window. 
 */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4P3rMVrMzwD_8l1I1ETldunN6Vdx7Tqk&callback=initMap&v=weekly"
        defer></script>

    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: {
                    lat: -8.532829,
                    lng: 118.305939
                },
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    position: google.maps.ControlPosition.BOTTOM_CENTER,
                },
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER,
                },
                scaleControl: true,
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.LEFT_TOP,
                },
                fullscreenControl: true,
            });
        }

        window.initMap = initMap;
    </script>




</body>

</html>